@import 'global/fonts';
@import 'global/base';
@import 'global/header';
@import 'global/footer';

body,
html {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}
