@import 'global/fonts';
@import 'global/base';
@import 'global/header';

/*HERO CONTAINER " FIRST BLOCK "*/
.hero {
}
.container-fluid {
	border: 1px solid var(--black, #0d0e0e);
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.2) 0%,
			rgba(0, 0, 0, 0.2) 100%
		),
		url(./../img/hero/hero_background.png), lightgray 10% / cover no-repeat;
	background-repeat: no-repeat;
	background-position: center;
}
.hero__container-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 37.5rem;
}

.title-hero {
	color: $white;
	font-size: 4rem;
	font-family: Didot;
	text-align: center;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	@media screen and (max-width: 768.98px) {
		font-size: 3rem;
	}
	@media screen and (max-width: 360.98px) {
		font-size: 2rem;
	}
}
.subtitle-hero {
	font-weight: 500;
	line-height: 2rem;
	font-size: 1.5rem;
	color: $white;
	@media screen and (max-width: 768.98px) {
		font-size: 1.25rem;
	}
	@media screen and (max-width: 360.98px) {
		font-size: 1rem;
	}
}

//===========PORTFOLIO===========

.portfolio__container-inner {
	display: flex;
	flex-direction: column;
	gap: 3.12rem;
}
.title-content {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.tabs {
	display: flex;
	flex-direction: column;
	gap: 2.56rem;
	@media only screen and (max-width: 600.98px) {
		display: none;
	}
}

.line {
	width: 70%;
	transition: all 0.4s ease;
	&_active {
		width: 100%;
	}
}

.nav {
	&__tab {
		@media only screen and (max-width: 600.98px) {
			display: none;
		}
		transition: all 0.4s ease;
		&-title {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.62rem;
			transition: all 0.4s ease;
			&:hover .line {
				width: 100%;
			}
			&:hover .nav__tab-name {
				color: $black;
				font-size: 1.5rem;
				text-shadow: 0 0 1px $black;
				line-height: 2rem;
				@media screen and (max-width: 1023.98px) {
					font-size: 1rem;
				}
			}
		}
		&-name {
			align-items: center;
			color: $gray;
			font-size: 1.5rem;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
			transition: all 0.4s ease;
			margin: 0;
			&_active {
				color: $black;
				text-align: center;
				font-size: 1.5rem;
				text-shadow: 0 0 1px $black;
				line-height: 2rem;
			}
			@media screen and (max-width: 1024.98px) {
				font-size: 1.3rem;
				&_active {
					font-size: 1.3rem;
				}
			}
			@media screen and (max-width: 678.98px) {
				width: 9rem;
				&::before {
					width: 9rem;
				}
			}
		}
	}
}
.only-mobile {
	display: none;
}
@media only screen and (max-width: 600.98px) {
	.only-mobile {
		display: block;
	}
	.only-mobile.category-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: 100%;
		padding: 15px 20px;
		height: 0.0625rem;
		&::before {
			position: absolute;
			bottom: -0.95rem;
			left: -0.1rem;
			width: 100%;
			height: 5px;
			content: '';
			background: radial-gradient(
				30% 20.02% at 50% 50%,
				#0d0e0e 50%,
				rgba(13, 14, 14, 0) 100%
			);
			transition: all 0.4s ease;
		}
	}
	i.fa.fa-caret-down {
		position: relative;
		font-size: 1.5rem;
		bottom: -4px;
	}
	.only-mobile.category-button h3 {
		margin-bottom: 0;
	}
}

.tab-content__container {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}
.tab {
	&-content__container {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}
	&_card {
		&-content {
			background-image: url(./../img/block/Rectangle\ 1.png);
			background-position: center;
			height: 18.75rem;
			display: flex;
			flex-direction: column;
			justify-content: end;
			align-items: center;
			padding: 1.5rem;
			gap: 0.625rem;
			&__container {
				&:nth-child(n + 4) {
					@media screen and (max-width: 360px) {
						display: none;
					}
				}
			}
		}
		&-name {
			color: $white;
			font-family: Didot;
			font-size: 1.5rem;
			font-weight: 700;
		}
		&-data {
			color: $white;
			font-size: 0.6875rem;
			font-style: normal;
			font-weight: 400;
		}
	}
}

.portfolio {
	&__btn {
		cursor: pointer;
		margin: 0 auto;
		color: $black;
		padding: 1.25rem 6.25rem;
		border: 1px solid var(--black, $white);
		font-weight: 500;
		line-height: 2rem;
		font-size: 1.5rem;
		text-decoration-line: underline;
		font-variant: all-small-caps;
		transition: 0.4s all ease;
		&:hover {
			border: 1px solid var(--black, #0d0e0e);
			background: var(--white, #fafafa);
		}
		@media only screen and (max-width: 360px) {
			padding: 1.25rem 5rem;
		}
	}
}

.tab_card.gradient {
	-webkit-mask-image: linear-gradient($white, rgba($black, 100));
}
.tab_card.maxHeight {
	max-height: 940px;
}
//=======REVIEWS

.reviews {
	&-title {
		margin-bottom: 5.62rem;
	}
	&-inner__container {
		min-height: 21.25rem;
		overflow: hidden;
	}
	&__block {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
		width: 23.75rem;
		svg {
			width: 2rem;
			height: 2.9rem;
			margin-bottom: 0.5rem;
		}
		&_title {
			color: $black;
			font-size: 1.25rem;
			line-height: 2rem;
		}
		&_subtitle {
			color: $black;
			font-size: 1.25rem;
			line-height: 2rem;
			text-transform: lowercase;
		}
		&_btn {
			align-self: flex-start;
			box-sizing: border-box;
			color: $black;
			font-style: normal;
			font-weight: 500;
			line-height: 2rem;
			text-decoration-line: underline;
			text-transform: lowercase;
			transition: 0.4s all ease;
			&:hover {
				text-shadow: 0 0 1px $black;
			}
		}
	}
	&-switch {
		margin-top: 2.5rem;
		display: flex;
		gap: 5px;
		justify-content: center;
		&__dot {
			cursor: pointer;
			position: relative;
			width: 0.625rem;
			height: 0.625rem;
			&::before {
				position: absolute;
				top: 0px;
				content: '';
				width: 0.625rem;
				height: 0.625rem;
				background: $gray;
				border-radius: 50%;
			}
			&_active {
				&::before {
					background: $black;
				}
			}
		}
	}
}
//bg
.property {
	&__btn {
		opacity: 0;
		position: absolute;
		bottom: 4rem;
		right: 4.4rem;
		height: 4.5rem;
		padding: 1.25rem 6.25rem;
		justify-content: center;
		align-items: center;
		gap: 2.5rem;
		flex-shrink: 0;
		border: 1px solid var(--black, #0d0e0e);
		background: var(--white, #fafafa);
		transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	background-image: url(./../img/2peoplesPhoto.png);
	background-repeat: no-repeat;
	background-position: bottom;
	position: relative;
	background-size: 100%;
	height: 25rem;
	width: 100%;
	&:hover {
		.property__btn {
			opacity: 1;
		}
	}
}

//about
.about {
	&-title {
		margin-bottom: 3.12rem;
	}
	&__card {
		display: flex;
		flex-direction: column;
		gap: 0.62rem;
		a {
			text-decoration: none;
		}
		&-img {
			margin-bottom: 0.62rem;
		}
		&-title {
			color: $black;
			font-family: Didot;
			font-size: 1.25rem;
			font-weight: 400;
			line-height: 2rem;
			text-transform: uppercase;
		}
	}
}
//acordion

.accordion {
	display: flex;
	flex-direction: column;
	gap: 1.95rem;
	&-button {
		color: $black;
		font-family: Didot;
		font-size: 2rem;
		font-weight: 400;
		line-height: 2rem;
		text-transform: uppercase;
		@media screen and (max-width: 360px) {
			font-size: 1.5rem;
		}
	}
}

//footer
@import 'global/footer';
