.header__container-inner {
	display: flex;
	height: 112px;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}
.nav-link {
	transition: all 0.4s ease;
}

.header__menu {
	list-style: none;
	display: flex;
	gap: 1.25rem;
	padding: 0;
	margin: 0;
}

.menu-link {
	color: $black;
	padding: 0.62rem;
	font-family: Montserrat;
	text-decoration: none;
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 400;
	transition: all 0.4s ease;
	&:hover {
		text-shadow: 0 0 1px $black;
	}
	&_active {
		font-weight: 600;
		text-shadow: 0 0 1px $black;
	}
}

.header__burger {
	display: none;
}
@media only screen and (max-width: 425.98px) {
	body.lock {
		overflow: hidden;
	}
	.header__burger {
		z-index: 5;
		display: block;
		position: relative;
		width: 3.125rem;
		height: 13px;
		span {
			position: absolute;
			background: radial-gradient(
				50% 50% at 50% 50%,
				#0d0e0e 0%,
				rgba(13, 14, 14, 0) 100%
			);
			width: 100%;
			height: 1px;
			top: 5.5px;
			left: 0;
			transition: all 0.3s ease;
		}
		&::after,
		&::before {
			content: '';
			position: absolute;
			background: radial-gradient(
				50% 50% at 50% 50%,
				#0d0e0e 0%,
				rgba(13, 14, 14, 0) 100%
			);
			width: 100%;
			height: 1px;
			left: 0;
			transition: all 0.3s ease;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&.active {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(45deg);
				top: 7px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 7px;
			}
		}
	}
	.header__menu {
		display: block;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($white, 1);
		padding: 120px 0 0 0;
		transition: all 0.4s ease;
		&.active {
			top: 0;
		}
	}
}
.line {
	width: 100%;
	height: 1px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		#0d0e0e 0%,
		rgba(13, 14, 14, 0) 100%
	);
}
